body {
    font-family: Georgia;
    font-size: 20px;
}

h1,
h2 {
    margin: 0%;
}

p {
    line-height: 1.5em;
}

div.base {
    background-color: #eeeeee;
    width: 960px;
    margin: auto;
}

section.bloco1 {
    background-color: orange;
}

section.bloco2 {
    background-color: green;
}

section.bloco3 {
    background-color: red;
}